@charset "ISO-8859-1";
#jumbo{
	height:100%;
    max-height:auto;
    margin-bottom:0.3em;
    padding-top:0.5em;
    padding-bottom:0.6em;

}
#newuser{
	margin-top:0.4em;
	width:550px;
	max-width:100%;
}

.border-3{
	border-style:solid;
    border-width:1px !important;
    padding: 1em;
}
#submitbutton{ 
	width:200px;
	max-width:100%;
	}
#wholefooter{
	margin-top:1em;
}
#footerhead{
	padding:0.5em;
}
#totalfooter{
	height:40px;
	max-height:auto;
}